<!-- SPDX-License-Identifier: Apache-2.0 -->

<!DOCTYPE html>
<html>

<head>
  <title>Hospital page</title>
  <link rel="icon" href="favicon.png" type="image/gif">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- require jquery and bootstrap scripts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>

  <!-- adding style here -->
  <style type="text/css">
    header {
      background-color: rgb(241, 137, 142);
      font-size: 20px;
      padding: 15px;
    }

    #body {
      margin-left: 3%;
      margin-right: 3%;
    }

    .form-control {
      margin: 8px;
    }

    #right_header {
      width: 20%;
      font-size: 15px;
      margin-right: 0px;
    }

    #left_header {
      margin-left: 0;
      width: 40%;
      display: inline-block;
    }

    #id {
      width: 49%;
      display: inline-block;
    }

    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

    .input-field {
      width: 200px;
      padding: 6px 1px;
      margin-left: 0px;
    }
  </style>
</head>

<body ng-app="application" ng-controller="appController">
  <header class="my-header">
    <div id="left_header">Blood Radar: Hospital cases</div>
    <i id="right_header">Bloodbank Maintenance and Reporting System on the Hyperledger Fabric.</i>
  </header>

  <div id="body">

    <!--  Get filtered by btype items from bpack channel-->
    <div class="form-group">
      <label>Query available bpacks</label>
      <div class="form-group"> 
        <label for="btype">Select blood type:</label>
        <select class="form-control input-field" id="btype" ng-model="queryParams.btype" >
          <option>Apos</option>
          <option>Bpos</option>
          <option>ABpos</option>
          <option>Opos</option>
          <option>Aneg</option>
          <option>Bneg</option>
          <option>ABneg</option>
          <option>Oneg</option>
        </select>
        <label for="statusId">Select status:</label>
        <select class="form-control input-field" id="statusId" ng-model="queryParams.status">
          <option>ALL</option>
          <option>TESTED</option>
        </select>
      </div>
      <p><input id="queryBpackByBtype" type="submit" value="Query" class="btn btn-success" ng-click="queryBpackByBtype()"></p>
    </div>
    
    
    <div class="alert alert-info" role="alert" id="hospital_no_data_found">
      No data found
    </div>

    <div class="alert alert-danger" role="alert" id="error_id_delete_bpack">
      Error Id for delete request
    </div>

    <div class="alert alert-success" role="alert" id="success_delete">
      Bpack deleted successfully 
    </div>

    <div class="alert alert-success" role="alert" id="success_transfuse">
      Transfuse completed successfully 
    </div>

    <table id="selected_bpacks" class="table" align="center">
      <tr>
        <th>ID</th>
        <th>Blood type</th>
        <th>Status</th>
        <th>Donor ID</th>
        <th>Donation TS</th>
        <th>Location</th>
        <th>Holder</th>
        <th>Desc</th>
          <th></th>
      <tr ng-repeat="bpack in selected_bpacks">
        <td>{{bpack.Key}}</td>
        <td>{{bpack.btype}}</td>
        <td>{{bpack.status}}</td>
        <td>{{bpack.donorId}}</td>
        <td>{{bpack.donationTS}}</td>
        <td>{{bpack.location}}</td>
        <td>{{bpack.holder}}</td>
        <td>{{bpack.desc}}</td>
        <td>  
          <div class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Action
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

            <b><a class="dropdown-item" href="" ng-click="doTransfuse(bpack)">Transfuse</a></b><br/>
            <a class="dropdown-item" href="" ></a> <br/>
            <a class="dropdown-item" href="" ng-click="getBpackHistory(bpack)"> Show history</a> <br/>
            <!-- <a class="dropdown-item" href="" ng-click="deleteBpack(bpack)"> Delete</a> <br/> -->
          </div>
        </div></td>
      </tr>
    </table>


    <div class="form-group" id="history_header" >
      <label>History of Bpack</label>
      <!-- Enter a parsel ID: <input id="parselID" class="form-control input-field" type="text" placeholder=" Ex: 2" ng-model="historyId">
      <input id="historyParsel" type="submit" value="History" class="btn btn-primary" ng-click="historyParsel()"> -->
    </div>

    <div class="alert alert-danger" role="alert" id="error_bpack_history">
      Error: Cannot load history for this Bpack ID
    </div>

    <table id="bpack_history_header" class="table" align="center">
       <tr>
        <th>Donor ID</th>
        <th>Donation TS</th>
       </tr>
       <tr>
        <td>{{selected_bpack.donorId}}</td>
        <td>{{selected_bpack.donationTS}}</td>
       </tr>
    </table>

    <table id="bpack_history" class="table" align="center">
      <tr>
        <th>Tx Timestamp</th>
        <th>Tx Id</th>
        <th>Holder</th>
        <th>Holder Timestamp</th>
        <th>Location</th>
        <th>Status</th>
        <th>Desctiption</th>
        <th>Deleted</th>
      </tr>
      <tr ng-repeat="rec in bpack_history">
        <td>{{rec.TxTS}}</td>
        <td>{{rec.TxId}}</td>
        <td>{{rec.holder}}</td>
        <td>{{rec.holderTS}}</td>
        <td>{{rec.location}}</td>
        <td>{{rec.status}}</td>
        <td>{{rec.desc}}</td>
        <td>{{rec.IsDelete}}</td>  
      </tr>
    </table>


    <div class="dropdown dropup">
      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Switch to Page
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="index.html"> Main</a> <br/>
        <a class="dropdown-item" href="camp.html"> Blood Camp</a> <br/>
        <a class="dropdown-item" href="bbank.html"> Blood Bank</a> <br/>
        <a class="dropdown-item" href="admin.html"> Admin</a> <br/>
        <a class="dropdown-item" href="donor.html"> Donor</a> <br/>
      </div>
    </div>
    
    <br/>

</body>

<!-- requiring the angular page -->
<script type="text/javascript" src="app1.js"> </script>

</html>